# Emerald
*.x
lib/Builtins
EC/bestCP
EC/execCP
EC/CP
EC/CP_*
EC/CPIndex*
EC/name*
vm/i386linux/emx

# tests
test/*


# C files
*.o
vm/src/vm.h.orig
vm/src/vm_i.h.orig
ccalls/xsed

# Report
Report/*.aux
Report/*.bbl
Report/*.blg
Report/*.dvi
Report/*.log
Report/*.toc
Report/Report.pdf
