# Emerald
*.x
EC/bestCP
EC/execCP
EC/CP
EC/CP_*
EC/CPIndex*
EC/name*
vm/i386linux
vm/x86_64linux

# tests
test/*
tests/*/*.oid
tests/*/*.opd

emerald-bin-welcome

# C files
*.o
vm/src/vm.h.orig
vm/src/vm_i.h.orig
ccalls/xsed
ccalls/bani.h
ccalls/emstream.h
ccalls/misk.h
ccalls/myristream.h
ccalls/rand.h
ccalls/regexp.h
ccalls/string.h
ccalls/xforms.h
ccalls/xliba.h
ccalls/xma.h
ccalls/xta.h

# Report
Report/*.aux
Report/*.bbl
Report/*.blg
Report/*.dvi
Report/*.log
Report/*.toc
Report/Report.pdf
